body{
    box-sizing: border-box;
    margin: 0%;
    align-content: center;
}

.apples img {height: 450px;
    width: 450px;
margin: 5px;
box-shadow: cornflowerblue 0px 1px 2px;
}

.apples img:hover{
  transform: scale(0.95);
  border-radius: 20px;
}

.favorites{
    font-size: 25px;
    font-weight: bold;
    border: black solid 1px;
    padding: 5px;
}

.apples{
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    flex: auto;
    overflow: auto;
    box-shadow: cornflowerblue 0px 3px 5px;
}

#dis{
    width: 400px;
    height: 50px;
    font-size: 18px;
}

h2{
    color: rgb(126, 3, 3);
    background-color: rgba(243, 171, 147, 0.678);
    padding: 3px;
}

h3{
    float: left;
    margin-left:10px;
}

#button{
    font-weight: bold;
    font-size:22px ;
    width:fit-content;
    margin: 10px;
    padding: 10px;
    background-color: rgb(126, 3, 3);
}
